/* GENERAL */
.FTACE {
    position: absolute;
    z-index: 10000;
    background: #FFF;
    color: #000;
    border: solid 1px #000;
    border-radius: 0.3em;
    box-shadow: 1px 1px 1px #999;
    padding: 0.5em;
    font-size: 0.9em;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
}




/* DECODER */
#FTACE_link_decoder.FTACE {
    position: fixed;
    left: 1em;
    bottom: 1em;
    width: 50%;
    min-width: 10%;
    max-width: 97%;
    max-height: 20em;
    resize: horizontal;
    overflow: hidden;
}
#FTACE_link_decoder.FTACE * {
    resize: none;
}
#FTACE_link_decoder.FTACE #FTACE_search, #FTACE_link_decoder.FTACE #FTACE_close {
    float: right;
    margin: -0.2em 1em;
    font-size: 0.8em;
}
#FTACE_link_decoder.FTACE #FTACE_search input {
    width: 17em;
}
#FTACE_link_decoder.FTACE h1 {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    cursor: move;
    margin-bottom: 0.1em;
}
#FTACE_link_decoder.FTACE ol {
    margin: 0;
    padding: 0;
    overflow: auto;
    max-height: 18.5em;
}
#FTACE_link_decoder.FTACE ol li {
    margin: 0.1em 0;
    border-top: dashed 1px #CCC;
    padding: 0.1em;
}
#FTACE_link_decoder.FTACE ol li a {
    display: block;
    color: #000;
    text-decoration: none;
}
#FTACE_link_decoder.FTACE ol li a:hover, #FTACE_link_decoder.FTACE ol li a:hover mark {
    background: #FFC;
}
#FTACE_link_decoder.FTACE span.undefined {
    color: #C00;
}
#FTACE_link_decoder.FTACE mark {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    background: #FFF;
}
#FTACE_link_decoder.FTACE mark.searchresult, #FTACE_link_decoder.FTACE ol li a:hover mark.searchresult {
    background: #FC9;
}
#FTACE_link_decoder.FTACE ol li a:hover mark:hover {
    background: #FF0;
    color: #000;
}
#FTACE_link_decoder.FTACE ol li a:hover mark.searchresult:hover {
    background: #F83;
}